<div class="page-title">
  <div class="title_left">
    <h3>Người dùng</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="searchName" (keyup.enter)="load()" #searchName="ngModel" [(ngModel)]="filter"
          placeholder="Tìm kiếm...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)='load()'>Tìm</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <ul class="nav navbar-right panel_toolbox">
        <button class="btn btn-primary" (click)="addEdit()">Thêm mới</button>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tài khoản</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Ngày sinh</th>
            <th>Số điện thoại</th>
            <th>Avatar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.Id}}</td>
            <td>{{user.FullName}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Birthday}}</td>
            <td>{{user.PhoneNumber}}</td>
            <td><img class="small-image" [src]="user.Avatar"/></td>
            <td>
              <button class="btn btn-primary" (click)="EditRoleModal(user.Id)">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteRole(user.Id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [totalItems]="totalRows"
          [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
<!--this is a modal-->