<div class="page-title">
  <div class="title_left">
    <h3>Nhóm quyền</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="searchName" (keyup.enter)="load()" #searchName="ngModel" [(ngModel)]="filter" placeholder="Tìm kiếm...">
        <span class="input-group-btn">
          <button class="btn btn-default"  type="button" (click)='load()'>Tìm</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <ul class="nav navbar-right panel_toolbox">
        <button class="btn btn-primary" (click)="addEdit()">Thêm mới</button>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td>{{role.Name}}</td>
            <td>{{role.Description}}</td>
            <td>
              <button *ngIf="role.Name!='Admin'" class="btn btn-primary" (click)="EditRoleModal(role.Id)">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button  *ngIf="role.Name!='Admin'" class="btn btn-danger" (click)="deleteRole(role.Id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [totalItems]="totalRows"
          [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
<!--this is a modal-->
<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm/Sửa quyền</h4>
        <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" #formEditModal="ngForm" name="EditModel" novalidate (ngSubmit)="saveChanged(formEditModal.valid)" *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên nhóm</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input class="form-control" type="hidden"  [(ngModel)]="entity.Id" name="id" />
              <input type="text" class="form-control" required #name="ngModel" [(ngModel)]="entity.Name" name="name" minlength="3" />
              <small [hidden]="name.valid || (name.pristine && !formEditModal.submitted)" class="text-danger">
                Bạn phải nhập ít nhất 3 ký tự.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả</label>
            <div class=" col-md-9 col-sm-9 col-xs-12">
              <textarea class="form-control" required #description="ngModel" [(ngModel)]="entity.Description" name="description"></textarea>
              <small [hidden]="description.valid || (description.pristine && !formEditModal.submitted)" class="text-danger">
                
              </small>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success" (click)="ngSubmit" [disabled]="!formEditModal.valid">Cập nhật</button>
              <button type="button" class="btn btn-danger" (click)="addEditModal.hide()">Hủy bỏ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>