<div class="page-title">
  <div class="title_left">
      <h3>Footer</h3>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
      <div class="x_title">
          <ul class="nav navbar-right panel_toolbox">
              <button class="btn btn-primary" *ngIf="footer.Content==null" (click)="addEdit()">Thêm mới</button>           
          </ul>
          <div class="clearfix"></div>
      </div>
      <div class="x_content">

          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Mã</th>                  
                      <th>Nội dung</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td width="10%">{{footer.ID}}</td>
                      <td [innerHTML]="footer.Content"></td> 
                      <td  width="10%">                       
                        <button class="btn btn-primary" (click)="EditFooter(footer.ID)">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                    </td>                         
                  </tr>
              </tbody>
          </table>
      </div>    
  </div>
</div>

<!--this is a modal-->
<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title pull-left">Thêm</h4>
              <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="form-horizontal form-label-left" #formEditModal="ngForm" name="EditModel" novalidate (ngSubmit)="saveChanges(formEditModal.valid)"
                  *ngIf="footer">   
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >Mã</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input class="form-control" #ma="ngModel" [(ngModel)]="footer.ID" name="ma"/>
                    </div>
                  </div>             
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nội dung</label>                
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <app-simple-tiny [elementId]="'my-editor-id'" [content]="this.footer.Content"  (onEditorKeyup)="keyupHandlerContentFooter($event)">
                      </app-simple-tiny>
                    </div>                
                  </div>               
                  <div class="ln_solid"></div>
                  <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success" (click)="ngSubmit" >Cập nhật</button>
                          <button type="button" class="btn btn-danger" (click)="addEditModal.hide()">Hủy bỏ</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
